* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  -ms-overflow-style: none;
  transition: all 0.2s ease-out;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37, 37, 37);
}

h1 {
  margin-top: 4vh;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

ol, li {
  list-style: none;
}

#slider_images {
  width: 70vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 39vw;
  border-radius: 10px;
  margin: 4vh 0;
}

.slider-img {
  display: flex;
  width: 500%;
}
.slider-img > li {
  height: auto;
  width: 20%;
  height: 100%;
  scroll-snap-align: start;
}

img {
  width: 100%;
  align-self: center;
  justify-self: center;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
}



#text {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider-text {
  display: flex;
  width: 500%;
}
.slider-text > div {
  display: inline-block;
  width: 20%;
  scroll-snap-align: start;
  height: 30px;
}

footer {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  color: rgb(182, 182, 182);
  margin-top: 1vw;
}
